/*Search styling*/
.search {
    background-color: #f2f2f2;
    padding: 15px;
}
.search #searchTerms {
    text-align: center;
    padding: 15px;
    font-weight: bold; /*http://www.w3schools.com/cssref/pr_font_weight.asp*/
}
.search .button {
    width: 25%;
}
.searchResultTable {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: sans-serif;
}
.searchBoxTable {
    width: 100%;
}
.search th {
    background-color: green;
    color: white;
}
.search th, td {
    padding: 10px;
}
.searchResultTable tr:nth-child(odd){ /*http://www.w3schools.com/css/css_table.asp*/
    background-color: #ffffcc;
}
input[type="text"]{
    font-size: 17px;
    width: 80%;
}

.searchBoxTable .button {
    width: 100%;
}

/*Filter section styling*/
.searchFilters {
    padding-bottom: 15px;
}

.activeFilterItem {
    background-color: lightgrey;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.activeFilterDeselecter {
    font-weight: bold;
}